p {
  font-size: 1.6em;
  width: 90%;
  max-width: 35em;
  margin: 0 auto;
}

p::first-letter {
  color: #c69c6d;
  float: left;
  font-size: 3.0em;
  margin: 0 0 0 0;
}
form {
  width:90%;
}
input, select, textarea{
  font-size: 1.6em;
}
