html {
  font: 100%/1.15 'IM Fell English', serif;
  padding: 2em 0;
  background: #fbfcfc;
  color: #4c4e4d;
}
a {
  color: #304ffe;
}
a:hover {
  text-decoration: none;
}
form { 
  margin: 0 auto; 
  font-family: inherit;
}
input[type=text] {
  border: none;
  border-bottom: 2px solid grey;
}
input, select, textarea {
  font-family: inherit;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #c69c6d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
